* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header ul {
  display: flex;
  justify-content: space-between;
}
header ul li {
  /* pour enlever les puces */
  list-style-type: none;
  font-size: 1em;
}
header a {
  /* pour enlever le soulignement */
  text-decoration: none;
  color: black;
  display: block;
  padding: 18px 16px;
}
header nav {
  position: fixed;
  /* overflow: hidden; */
  width: 100%;
  background-color: #829ba2;
  display: flex;
  justify-content: space-between;
}
/* Image de fond header */
header {
  background-image: url();
}
